<h1 class="text-white">Result</h1>

<% @word.split('').each do |letter| %>
  <% @count += 1 if @letters.include?(letter) %>
<% end %>
<% if @word.split('').length != @count %>
  <p class="text-white">Sorry but <strong><%= @word %></strong> can't be built out of <%= @example %>.</p>
<% elsif @found %>
  <p class="text-white"><strong>Congratulations! </strong><%= @word %> is a valid English word!</p>
  <% session[:score] += @word.length %>
<% else %>
  <p class="text-white">Sorry but <strong><%= @word %></strong> does not seem to be a valid English word..</p>
<% end %>
<h3 class="text-white">score: <%= session[:score] %></h3>
<%= link_to 'Play again', new_path, class: 'btn btn-info text-white' %>
